<div class="container-fluid">
    <h1>Modulo di contatto</h1>
    <form>
        <!--nome-->
        <div class="form-group casella">
            <label>Nome e Cognome</label>
            <input type="text" class="form-control">
        </div>

        <!--email-->
        <div class="form-group casella">
            <label>Email</label>
            <input type="email" class="form-control">
        </div>

        <!--numero telefono-->
        <div class="form-group casella">
            <label>Numero di Telefono</label>
            <input type="tel" class="form-control">
        </div>

        <!--topic-->
        <div class="form-group">
            <select class="custom-select">
                <option selected>Sono interessato a...</option>
                <option *ngFor="let topic of topics">{{topic}}</option>
            </select>
        </div>

        <!--newsletter-->
        <div class="form-check mb-3" style="margin-left:20px;">
            <input type="checkbox" class="form-check-input">
            <label class="form-check-label">Iscriviti alla nostra Newsletter</label>
        </div>

        <!--button-->
        <button class="btn btn-primary" type="submit">Invia</button>
    </form>
</div>