<ngb-accordion #acc="ngbAccordion">
  <ngb-panel title="Pizze classiche">
    <ng-template ngbPanelContent>
        <div class="row" style="margin:0px;">
            <div class="col-md-4 pizza">
                <div class="pizza1">
                 <p class="pizza2">Margherita</p>
                 <p class="pizza3">mozzarella, pomodoro</p>
                 <br>
                 <p class="pizza3">€ 5,00</p>
                 <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                 <br>
                 <br>
                </div>
             </div>   
            
            <div class="col-md-4 pizza">
              <div class="pizza1">
                <p class="pizza2">Marinara</p>
                <p class="pizza3">pomodoro, origano, aglio</p>
                <br>
                <p class="pizza3">€ 5,00</p>
                <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                <br>
                <br>
              </div>
            </div>  
            
            <div class="col-md-4 pizza">
               <div class="pizza1">
                <p class="pizza2">Diavola</p>
                <p class="pizza3">mozzarella, pomodoro, salame piccante</p>
                <br>
                <p class="pizza3">€ 5,00</p>
                <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                <br>
                <br>
               </div>
            </div>   
          </div>
  
          <div class="row" style="margin:0px;">
              <div class="col-md-4 pizza">
                <div class="pizza1">
                <p class="pizza2">Prosciutto</p>
                <p class="pizza3">mozzarella, pomodoro, prosciutto cotto</p>
                <br>
                <p class="pizza3">€ 5,00</p>
                <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                <br>
                <br>
                </div>
              </div>
              
              <div class="col-md-4 pizza">
                <div class="pizza1">
                  <p class="pizza2">Verdure</p>
                  <p class="pizza3">mozzarella, pomodoro, verdure di stagione</p>
                  <br>
                  <p class="pizza3">€ 5,00</p>
                  <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                  <br>
                  <br>
                </div>
              </div>  
              
              <div class="col-md-4 pizza">
                 <div class="pizza1">
                  <p class="pizza2">Formaggi</p>
                  <p class="pizza3">mozzarella, pomodoro, formaggi vari</p>
                  <br>
                  <p class="pizza3">€ 5,00</p>
                  <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                  <br>
                  <br>
                 </div>
              </div>   
            </div>
  
            <div class="row" style="margin:0px;">
                <div class="col-md-4 pizza">
                  <div class="pizza1">
                  <p class="pizza2"> Patatine</p>
                  <p class="pizza3">mozzarella pomodoro, patatine</p>
                  <br>
                  <p class="pizza3">€ 5,00</p>
                  <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                  <br>
                  <br>
                  </div>
                </div>
                
                <div class="col-md-4 pizza">
                  <div class="pizza1">
                   <p class="pizza2"> Wurstel</p>
                    <p class="pizza3">mozzarella, pomodoro, wurstel</p>
                    <br>
                    <p class="pizza3">€ 5,00</p>
                    <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                    <br>
                    <br>
                  </div>
                </div>  
                
                <div class="col-md-4 pizza">
                   <div class="pizza1">
                    <p class="pizza2">Delicata</p>
                    <p class="pizza3">mozzarella, pomodorini, rucola</p>
                    <br>
                    <p class="pizza3">€ 5,00</p>
                    <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                    <br>
                    <br>
                   </div>
                </div>   
              </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Pizze Speciali">
    <ng-template ngbPanelContent>
        <div class="row" style="margin:0px;">
            <div class="col-md-4 pizza">
                <div class="pizza1">
                 <p class="pizza2">Margherita</p>
                 <p class="pizza3">mozzarella, pomodoro</p>
                 <br>
                 <p class="pizza3">€ 5,00</p>
                 <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                 <br>
                 <br>
                </div>
             </div>   
            
            <div class="col-md-4 pizza">
              <div class="pizza1">
                <p class="pizza2">Marinara</p>
                <p class="pizza3">pomodoro, origano, aglio</p>
                <br>
                <p class="pizza3">€ 5,00</p>
                <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                <br>
                <br>
              </div>
            </div>  
            
            <div class="col-md-4 pizza">
               <div class="pizza1">
                <p class="pizza2">Diavola</p>
                <p class="pizza3">mozzarella, pomodoro, salame piccante</p>
                <br>
                <p class="pizza3">€ 5,00</p>
                <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                <br>
                <br>
               </div>
            </div>   
          </div>
  
          <div class="row" style="margin:0px;">
              <div class="col-md-4 pizza">
                <div class="pizza1">
                <p class="pizza2">Prosciutto</p>
                <p class="pizza3">mozzarella, pomodoro, prosciutto cotto</p>
                <br>
                <p class="pizza3">€ 5,00</p>
                <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                <br>
                <br>
                </div>
              </div>
              
              <div class="col-md-4 pizza">
                <div class="pizza1">
                  <p class="pizza2">Verdure</p>
                  <p class="pizza3">mozzarella, pomodoro, verdure di stagione</p>
                  <br>
                  <p class="pizza3">€ 5,00</p>
                  <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                  <br>
                  <br>
                </div>
              </div>  
              
              <div class="col-md-4 pizza">
                 <div class="pizza1">
                  <p class="pizza2">Formaggi</p>
                  <p class="pizza3">mozzarella, pomodoro, formaggi vari</p>
                  <br>
                  <p class="pizza3">€ 5,00</p>
                  <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                  <br>
                  <br>
                 </div>
              </div>   
            </div>
  
            <div class="row" style="margin:0px;">
                <div class="col-md-4 pizza">
                  <div class="pizza1">
                  <p class="pizza2"> Patatine</p>
                  <p class="pizza3">mozzarella pomodoro, patatine</p>
                  <br>
                  <p class="pizza3">€ 5,00</p>
                  <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                  <br>
                  <br>
                  </div>
                </div>
                
                <div class="col-md-4 pizza">
                  <div class="pizza1">
                   <p class="pizza2"> Wurstel</p>
                    <p class="pizza3">mozzarella, pomodoro, wurstel</p>
                    <br>
                    <p class="pizza3">€ 5,00</p>
                    <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                    <br>
                    <br>
                  </div>
                </div>  
                
                <div class="col-md-4 pizza">
                   <div class="pizza1">
                    <p class="pizza2">Delicata</p>
                    <p class="pizza3">mozzarella, pomodorini, rucola</p>
                    <br>
                    <p class="pizza3">€ 5,00</p>
                    <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                    <br>
                    <br>
                   </div>
                </div>   
              </div>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Altre specialità">
      
      <ng-template ngbPanelContent>
          <div class="row" style="margin:0px;">
              <div class="col-md-4 pizza">
                  <div class="pizza1">
                   <p class="pizza2">Margherita</p>
                   <p class="pizza3">mozzarella, pomodoro</p>
                   <br>
                   <p class="pizza3">€ 5,00</p>
                   <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                   <br>
                   <br>
                  </div>
               </div>   
              
              <div class="col-md-4 pizza">
                <div class="pizza1">
                  <p class="pizza2">Marinara</p>
                  <p class="pizza3">pomodoro, origano, aglio</p>
                  <br>
                  <p class="pizza3">€ 5,00</p>
                  <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                  <br>
                  <br>
                </div>
              </div>  
              
              <div class="col-md-4 pizza">
                 <div class="pizza1">
                  <p class="pizza2">Diavola</p>
                  <p class="pizza3">mozzarella, pomodoro, salame piccante</p>
                  <br>
                  <p class="pizza3">€ 5,00</p>
                  <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                  <br>
                  <br>
                 </div>
              </div>   
            </div>
    
            <div class="row" style="margin:0px;">
                <div class="col-md-4 pizza">
                  <div class="pizza1">
                  <p class="pizza2">Prosciutto</p>
                  <p class="pizza3">mozzarella, pomodoro, prosciutto cotto</p>
                  <br>
                  <p class="pizza3">€ 5,00</p>
                  <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                  <br>
                  <br>
                  </div>
                </div>
                
                <div class="col-md-4 pizza">
                  <div class="pizza1">
                    <p class="pizza2">Verdure</p>
                    <p class="pizza3">mozzarella, pomodoro, verdure di stagione</p>
                    <br>
                    <p class="pizza3">€ 5,00</p>
                    <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                    <br>
                    <br>
                  </div>
                </div>  
                
                <div class="col-md-4 pizza">
                   <div class="pizza1">
                    <p class="pizza2">Formaggi</p>
                    <p class="pizza3">mozzarella, pomodoro, formaggi vari</p>
                    <br>
                    <p class="pizza3">€ 5,00</p>
                    <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                    <br>
                    <br>
                   </div>
                </div>   
              </div>
    
              <div class="row" style="margin:0px;">
                  <div class="col-md-4 pizza">
                    <div class="pizza1">
                    <p class="pizza2"> Patatine</p>
                    <p class="pizza3">mozzarella pomodoro, patatine</p>
                    <br>
                    <p class="pizza3">€ 5,00</p>
                    <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                    <br>
                    <br>
                    </div>
                  </div>
                  
                  <div class="col-md-4 pizza">
                    <div class="pizza1">
                     <p class="pizza2"> Wurstel</p>
                      <p class="pizza3">mozzarella, pomodoro, wurstel</p>
                      <br>
                      <p class="pizza3">€ 5,00</p>
                      <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                      <br>
                      <br>
                    </div>
                  </div>  
                  
                  <div class="col-md-4 pizza">
                     <div class="pizza1">
                      <p class="pizza2">Delicata</p>
                      <p class="pizza3">mozzarella, pomodorini, rucola</p>
                      <br>
                      <p class="pizza3">€ 5,00</p>
                      <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                      <br>
                      <br>
                     </div>
                  </div>   
                </div>
      </ng-template>
    
    </ngb-panel>
    <ngb-panel title="Bibite">
        <ng-template ngbPanelContent>
            <div class="row" style="margin:0px;">
                <div class="col-md-4 pizza">
                    <div class="pizza1">
                     <p class="pizza2">Acqua</p>
                     <br>
                     <p class="pizza3">€ 5,00</p>
                     <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                     <br>
                     <br>
                    </div>
                 </div>   
                
                <div class="col-md-4 pizza">
                  <div class="pizza1">
                    <p class="pizza2">Coca Cola</p>
                    <br>
                    <p class="pizza3">€ 5,00</p>
                    <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                    <br>
                    <br>
                  </div>
                </div>  
                
                <div class="col-md-4 pizza">
                   <div class="pizza1">
                    <p class="pizza2">Birra</p>
                    <br>
                    <p class="pizza3">€ 5,00</p>
                    <button class="btn btn-primary buttonpizza" type="submit">Ordina</button>
                    <br>
                    <br>
                   </div>
                </div>   
              </div>
      
        </ng-template>
      </ngb-panel>
</ngb-accordion>